<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.catr.test.vrapp">

    <!-- Google VR SDK 使用的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- Vr App 使用的权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cttlvrlogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name=".activity.VrPanoramaActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="com.google.intent.category.CARDBOARD"/>
            </intent-filter>
        </activity>

        <activity android:name=".appintro.AppIntroActivity"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.PanoListActivity"/>
    </application>

</manifest>